# shellcheck shell=sh disable=SC2034
TESTS_JOBS=60
TESTS_LOCAL=0

RC_PREFIX="${PWD}"
TESTS="${RC_PREFIX}/tests"

. ./lib/profile.sh

PROJECT_TESTS_DIR="${RC_PREFIX}/tests"
PROJECT_TESTS_FIXTURES="${PROJECT_TESTS_DIR}/fixtures"
PROJECT_TESTS_INPUT="${PROJECT_TESTS_DIR}/input"

RC_D_TEST_NAME="rc_d_test"
RC_D_TEST="${PROJECT_TESTS_DIR}/${RC_D_TEST_NAME}"
RC_D_TEST_SHARE="${PROJECT_TESTS_DIR}/${RC_D_TEST_NAME}/share"
